*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html{
    height: 100%;
}
.lock-screen{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgb(0,0,0,0.5)100%,rgb(0,0,0,0.5)100%),url(blur.jpeg) center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.user-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-icon i{
    font-size: 100px;
}
.user-name{
    font-size: 20px;
    margin-top: 10px;
}
.input-pass{
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.password{
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid lightblue;
    width: 200px;
}
.password:focus{
    color: blue;
    outline: none;
}
.pass-button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    color: #888;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pass-button:focus{
    outline: none;
}
.bar-icons{
    position: fixed;
    right: 50px;
    bottom: 20px;
    cursor: pointer;
}
.icons{
    font-size: 20px;
    display: flex;
    gap: 30px;
    color: rgb(167, 159, 159);
}
